div {
  background-color: black;
  height: 100vh;
  display: grid;
}

#timer {
  animation: timeout 10s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 0px;
  height: 100px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: darkred;
}

#button {
  background-color: red;
  width: 200px;
  height: 100px;
  display: grid;
  place-self: center;
}

#button:hover {
  opacity: 50%;
}

p {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  place-self: center;
  color: White;
  z-index: 1;
  font-size: 2rem;
}

@keyframes timeout {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
